$outlineColor: rgb(255, 0, 0);
$backgroundColor: rgb(200, 200, 200);
$main: rgb(118, 118, 235);
$accent: #323232;
$shadow: #32323220;
$mainText: black;
$invertText: white;
$white: white;
$confirm: #4CAF50;
$deny: #BE3939;